strict-peer-dependencies=false

registry = "https://registry.npmjs.org/"
@linkseeks:registry="http://npm.shushangyun.com"
@ssy:registry="http://npm.shushangyun.com"
@nicole:registry="http://npm.shushangyun.com"